!/.envrc
*/dist
0_DATA/
tmp/
/partyhall
config.yaml
.cache

# Temporary while I make the docs
docs/

.vscode
ansible/inventory.yaml
ansible/inventory.dev.yaml

ansible/files/karaoke/*
!ansible/files/karaoke/.gitkeep
