# Address to listen to
listening_addr: '0.0.0.0:8080'

# The path in which every partyhall-related data should be stored
root_path: '../0_DATA/appliance'

# Send the time every seconds
# Useful to disable in dev
send_time: true

# MQTT settings
mqtt_addr: '127.0.0.1:1883'

# Let guest login with limited permissions
# Useful for the Karaoke
guests_allowed: true