# The qty of songs to be sent to the client on the main song listing page
# You probably dont want to change that
amt_songs_per_page: {{partyhall_karaoke_amt_songs_per_page}}

# The amount of seconds to display a waiting screen before each song
# (The "Now playing:" screen)
pre_play_timer: {{partyhall_karaoke_pre_play_timer}}