# This file is part of the PartyHall appliance software
# Its licence applies
# Learn more at https://github.com/PartyHall/partyhall

[Unit]
Description=PartyHall service

[Service]
Type=notify
NotifyAccess=all
WorkingDirectory=/home/{{ ansible_user }}
ExecStart=partyhall
Restart=always
RestartSec=3s
TimeoutStartSec=120s

# @TODO: "is added as a dependency to a non-existent unit multi-user.target"
[Install]
WantedBy=default.target