# Debug mode lets you connect to the partyhall from another device
debug_mode: {{partyhall_debug_mode}}

# Root path is where all the data related to the partyhall app are stored
root_path: '/home/{{ansible_user}}/data'

# Default mode can be either PHOTOBOOTH or KARAOKE
default_mode: 'PHOTOBOOTH'

# Allow guest login (For karaoke or other stuff that should be accessible)
guests_allowed: {{ 'true' if partyhall_guests_allowed else 'false' }}

web:
  listening_addr: 127.0.0.1:8039
  admin_password: "{{partyhall_admin_password}}"

mosquitto:
  address: 127.0.0.1:1883

hardware_handler:
  baud_rate: 57600
  mappings:
    BTN_0: TAKE_PICTURE
    BTN_1: DISPLAY_DEBUG
    BTN_2: SHUTDOWN

modules:
  - photobooth
  - karaoke