all:
  hosts:
    appliance:
      ansible_host: 192.168.14.85
      ansible_user: 'partyhall'
      
      # Extra software config
      grub_resolution: '1280x720'

      # Extra software config
      grub_resolution: '1280x720'

      ## TEMP SETTINGS (Until onboarding)

      # PartyHall config
      partyhall_admin_username: 'admin'
      partyhall_admin_password: 'admin_password'
      partyhall_admin_fullname: 'Administrator'

      ## PartyNexus config (Keep empty if not enabled)
      nexus_url: ''
      nexus_hwid: ''
      nexus_apikey: ''
